# Ignorar node_modules
node_modules/

# Archivos de compilación
build/
dist/

# Archivos de entorno (por si agregas uno más adelante)
.env

# Archivos del sistema (Mac, Linux, Windows)
.DS_Store
Thumbs.db

# Logs de errores
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Otros (si usas VSCode u otros editores)
.vscode/
.idea/
